.screen {
    margin: 20px 20px;
}

.para-text {
    font-size: 15px;
}

.menu-tab {
    background: rgb(224, 220, 220);
    height: 50px;
    text-align: right;
}

.interface-A-touch .fa.fa-ellipsis-v {
    margin: 0px 0px 0px 85%;
    width: 15%;
    background: #cdd4d4;
    border-radius: 0px;
    border: 0px;
    padding: 11px 20px 11px 15px;
}

.main-options.text-center {
    background: #cdd4d4;
}

.para-title {
    color: #7ca79d;
    padding-bottom: 20px;
    font-size: 20px;
}

.back-button {
    margin-right: 20px;
}

.intro-button {
    text-align: center;
    margin-top: 25px;
}

.screen-1>.jumbotron>h1 {
    color: #5a87b7;
    font-size: 32px;
}

.jumbotron {
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e2e2e2;
}

.screen-2 form {
    margin-top: 40px;
}

.screen-2 li {
    font-weight: bold;
}

.screen-2 form a {
    margin-right: 20px;
}

.screen-2 label {
    margin-top: 6px;
}

.interface-A-touch .fa {
    border: 2px solid black;
    padding: 7px 10px;
    border-radius: 14px;
    margin: 4px 20px;
}

.interface-A-touch .fa.fa-pencil {
    color: #ff6a00;
}

.interface-A-touch .fa.fa-minus-square-o {
    color: #299e04;
}

.sub-options .btn {
    border: 2px solid;
    margin: 5px;
    color: #0c0b0b;
    font-size: 14px;
    border-radius: 12px;
    padding: 10px 15px;
}

#sub-options-method {
    background: #efcdb5;
}

#sub-options-thickness {
    background: #a2bb9a;
}

#interfaceA-selected-option {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #4b7988;
}

.start-stimuli-interface-A {
    margin: 20px auto;
    width: 100%;
}

.interface-A-stimuli {
    border: 3px solid #47a4b3;
    padding: 5px 0px;
    width: 60%;
    margin: 10px 20% 20px 20%;
}

.screen-9,
.screen-10 {
    margin: 20px 30px;
}

.screen-9 .para-title,
.screen-10 .para-title {
    padding-bottom: 5px;
}

.screen-9>h4,
.screen-10>h4 {
    margin: 10px 0px;
}

.screen-9 label,
.screen-10 label {
    margin: 50px 10px 15px 10px;
    text-align: justify;
    font-weight: bold;
}

.screen-9 .col-xs-12.text-center,
.screen-10 .col-xs-12.text-center {
    margin-top: 40px;
}

.range-master {
    position: absolute;
    width: 84%;
}

.range-master .left-range {
    position: absolute;
    left: -15px;
    font-weight: bold;
    top: 5px;
}

.range-master .left-range {
    position: absolute;
    left: -15px;
    font-weight: bold;
    top: 5px;
}

.range-master .right-range {
    position: absolute;
    right: -15px;
    font-weight: bold;
    top: 5px;
}

#questionnaire-A>div.form-group:nth-child(1)>label,
#questionnaire-B>div.form-group:nth-child(1)>label {
    margin-top: 20px;
}

#second-heading {
    margin-top: 75px;
}

.screen-9 .form-group {
    margin-bottom: 25px;
}

.start-stimuli-interface-B {
    margin: 10px auto;
    width: 100%;
}

.interface-A-stimuli.red-border {
    background: #e66868;
    color: white;
}

.interface-A-stimuli.green-border {
    background: #52a752;
    color: white;
}

.screen-6,
.screen-7,
.screen-8 {
    margin: 10px 5px;
}

.screen-6 .para-title,
.screen-7 .para-title,
.screen-8 .para-title {
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.screen-7 .para-title,
.screen-8 .para-title {
    border: 2px solid #ffffff;
    margin-top: 0px;
}

.screen-7 .para-title.small-box,
.screen-8 .para-title.small-box {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

.interface-B-touch {
    background-color: #f3d8d0;
    height: 530px;
    width: 100%;
}

.screen-6 .interface-B-touch {
    background-color: #f3d8d0;
    height: 485px;
    width: 100%;
}

.screen-6 .intro-button {
    margin-top: 10px;
}

.para-title.red-border {
    background: #e66868;
    color: white;
}

.para-title.green-border {
    background: #52a752;
    color: white;
}


/* ???????????????????????????????????????????????????????? */

.learn-bit {
    font-size: 15px;
    font-family: sans-serif;
    line-height: 22px;
    margin: 20px;
}

.red-panel {
    height: 400px;
    width: 90%;
    margin: 10px 5%;
    background-color: #f3d8d0;
    position: relative;
}

.finger-image {
    height: 75px;
    position: absolute;
}

#panel-1 .finger-1 {
    top: 50px;
}

#panel-1 .finger-2 {
    top: 50px;
    left: 70px;
}

#panel-2 .finger-image {
    top: 165px;
}

#panel-3 .finger-1 {
    top: 165px
}

#panel-3 .finger-2 {
    top: 50px;
}

#panel-4 .finger-1 {
    top: 165px
}

#panel-4 .finger-2 {
    top: 165px;
    left: 90px;
}

#panel-5 .finger-1 {
    top: 140px
}

#panel-5 .finger-2 {
    top: 250px;
}

#panel-6 .finger-1 {
    top: 80px
}

#panel-6 .finger-2 {
    top: 5px;
}

#panel-7 .finger-1 {
    bottom: 5px
}

#panel-7 .finger-2 {
    bottom: 80px;
}

#panel-8 .finger-1 {
    top: 10px;
}

#panel-8 .finger-2 {
    top: 10px;
    left: 70px;
}

#panel-9 .finger-1 {
    bottom: 5px;
}

#panel-9 .finger-2 {
    bottom: 5px;
    right: 5px;
}

#panel-10 .finger-1 {
    top: 165px;
    right: 10px;
}

#panel-11 .finger-1 {
    top: 165px;
    right: 10px;
}

#panel-11 .finger-2 {
    top: 60px;
    right: 10px;
}

#panel-12 .finger-1 {
    top: 165px;
    right: 10px;
}

#panel-12 .finger-2 {
    top: 165px;
    left: 80px;
}

#panel-13 .finger-1 {
    top: 165px;
    right: 10px;
}

#panel-13 .finger-2 {
    bottom: 5px;
    right: 5px;
}

.instruction-container {
    text-align: justify;
}

.graphic-text-overlay {
    text-align: center;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    padding: 30px;
}

#panel-1 .graphic-text-overlay {
    top: 200px;
}

#panel-3 .graphic-text-overlay {
    top: 50px;
    right: 100px;
}

#panel-4 .graphic-text-overlay {
    bottom: 50px;
    right: 80px;
}

#panel-5 .graphic-text-overlay {
    bottom: -20px;
    left: -5px;
}

#panel-6 .graphic-text-overlay {
    bottom: 150px;
}

#panel-8 .graphic-text-overlay {
    top: 100px;
}

.selected-option {
    padding: 30px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #5781a7;
}

.screen-11 .radio {
    margin-left: 35px;
    font-weight: normal;
}

.screen-1 .intro-button {
    margin-bottom: 75px;
}