.screen {
    margin:20px 20px;
}

.para-text {
    font-size: 15px;
}

.para-title {
    color: #7ca79d;
    padding-bottom: 20px;
    font-size: 20px;
}

.back-button {
    margin-right: 20px;
}

.intro-button {
    text-align: center;
    margin-top: 25px;
}

.screen-1>.jumbotron>h1 {
    color: #5a87b7;
    font-size: 32px;
}


.screen-2 form {
    margin-top: 40px;
}

.screen-2 form a {
    margin-right: 20px;
}

.screen-2 label{
    margin-top: 6px;
}

.interface-A-touch .fa {
    border: 2px solid black;
    padding: 5px;
    border-radius: 14px;
    margin: 10px 45px;
}

.interface-A-touch .fa.fa-pencil {
    color: #ff6a00;
}

.interface-A-touch .fa.fa-minus-square-o {
    color: #299e04;
}

.sub-options {
    margin: 0% 10%;
    width: 80%;
}

.sub-options .btn {
    border: 2px solid;
    margin: 5px;
    color: #0c0b0b;
    font-size: 14px;
    border-radius: 12px;
}

#sub-options-method {
    background: #efcdb5;
}

#sub-options-thickness {
    background: #a2bb9a;
}

#interfaceA-selected-option {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #4b7988;
}

.start-stimuli-interface-A {
    margin: 20px auto;
    width: 100%;
}

.interface-A-stimuli {
    border: 3px solid #47a4b3;
    padding: 5px 0px;
    width: 75%;
    margin: 10px 12.5% 20px 12.5%;
}

.interface-A-stimuli.red-border {
    border: 5px solid #e66868;
}

.interface-A-stimuli.green-border {
    border: 5px solid #52a752;
}