.screen {
    margin: 20px 20px;
}

.para-text {
    font-size: 15px;
}

.menu-tab {
    background: rgb(224, 220, 220);
    height: 40px;
    text-align: right;
}

.interface-A-touch .fa.fa-ellipsis-v {
    margin: 0px 0px 0px 90%;
    width: 10%;
    background: #cdd4d4;
    border-radius: 0px;
    border: 0px;
    padding: 6px 13px 6px 15px;
}

.main-options.text-center {
    background: #cdd4d4;
}

.para-title {
    color: #7ca79d;
    padding-bottom: 20px;
    font-size: 20px;
}

.back-button {
    margin-right: 20px;
}

.intro-button {
    text-align: center;
    margin-top: 25px;
}

.screen-1>.jumbotron>h1 {
    color: #5a87b7;
    font-size: 32px;
}

.screen-2 form {
    margin-top: 40px;
}

.screen-2 form a {
    margin-right: 20px;
}

.screen-2 label {
    margin-top: 6px;
}

.interface-A-touch .fa {
    border: 2px solid black;
    padding: 5px 7px;
    border-radius: 14px;
    margin: 3px 20px;
}

.interface-A-touch .fa.fa-pencil {
    color: #ff6a00;
}

.interface-A-touch .fa.fa-minus-square-o {
    color: #299e04;
}

.sub-options .btn {
    border: 2px solid;
    margin: 5px;
    color: #0c0b0b;
    font-size: 14px;
    border-radius: 12px;
}

#sub-options-method {
    background: #efcdb5;
}

#sub-options-thickness {
    background: #a2bb9a;
}

#interfaceA-selected-option {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #4b7988;
}

.start-stimuli-interface-A {
    margin: 20px auto;
    width: 100%;
}

.interface-A-stimuli {
    border: 3px solid #47a4b3;
    padding: 5px 0px;
    width: 60%;
    margin: 10px 20% 20px 20%;
}

.interface-A-stimuli.red-border {
    border: 5px solid #e66868;
}

.interface-A-stimuli.green-border {
    border: 5px solid #52a752;
}

.screen-9 {
    margin: 20px 30px;
}

.screen-9 .para-title {
    padding-bottom: 5px;
}

.screen-9>h4 {
    margin: 10px 0px;
}

.screen-9 label {
    margin: 30px 10px 15px 10px;
    text-align: justify;
    font-weight: bold;
}

.screen-9 .col-xs-12.text-center {
    margin-top: 40px;
}

.range-master {
    position: absolute;
    width: 84%;
}

.range-master .left-range {
    position: absolute;
    left: -15px;
    font-weight: bold;
    top: 5px;
}

.range-master .left-range {
    position: absolute;
    left: -15px;
    font-weight: bold;
    top: 5px;
}

.range-master .right-range {
    position: absolute;
    right: -15px;
    font-weight: bold;
    top: 5px;
}

#questionnaire>div.form-group:nth-child(2)>label , #questionnaire>div.form-group:nth-child(9)>label {
    margin-top: -10px;
}

#second-heading {
    margin-top: 75px;
}

.screen-9 .form-group {
    margin-bottom: 35px;
}